<div>
    <div class="card" style="width: 18rem;" *ngFor="let obj of readPostArr"> 
       <img class="card-img-top" [src]="obj.loc_img" alt="card image">
       <div class="card-body">
           <h6 class="card-title">{{obj.loc_name}}</h6>
           <p class="card-text">{{obj.loc_desc}}</p>
           <div class="post">By {{obj.email}}</div>
           
           <div>
               <span class="lik"><img src="../../../assets/like.svg" (click)="addvote(true,obj.post_id)" alt="" width="20px">{{obj.likeCount}}</span>
               <span class="dis"><img src="../../../assets/dislike.svg" (click)="addvote(false,obj.post_id)"  alt="" width="20px">{{obj.dislikeCount}}</span>
           </div>
           
       </div>
     </div>
   </div>
