<div class="card">
    <div class="card-header">Sign Up Please</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Enter Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputPassword" placeholder="Enter EmailID">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Instagram ID</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Enter Insta Handle">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Country</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Your Country">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Bio</label>
                    <div class="col-sm-9">
                        <textarea name="" id="" class="form-control" cols="63" rows="4" placeholder="About you"></textarea>
                    </div>
                </div>
                <div class="form-group row center">
                    <button type="button" class="btn btn-primary">Sign Up!</button>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label for="uploadimageid">
                        <img class="uploadimage" src="../../../assets/user-icon.svg" alt="upload image" width="150" height="150">
                    </label>   
                </div>
                <input type="file" id="uploadimageid" style="display: none;">
            </div>
        </div>
    </div>
</div>