.card {

    color: black;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.center {
    text-align: center;
}

.upload-image {
    margin-top: 60px;
    margin-left: 50px;
}