.header{
        color: white;
        display:inline-block;
        background-color: #F31C5E;
        width: 100%;
        font-size: 18px;
}
.menu{
    list-style-type: none;
    float: right;
    padding-left: 60px;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 20px;
    cursor: pointer;
    outline: none;
}
.left{
    float: left;
}
.post-button{
    cursor: pointer;
}