<div class="header">
    <ul>
        <li class="menu left " >Social Network</li>
        <li class="menu pp" *ngIf="isSignIn" routerLink="userinfo">
            <img class="upload-image" src="../../assets/white .png" width="20" height="20">
        </li>
        <li class="menu pr" *ngIf="isSignIn" routerLink="userinfo">
            <div class="logo-image" >
                <img class="upload-image" [src]="user_image" alt="upload image" width="80" height="75">
            </div>
        </li>
        <li class="menu" *ngIf="isSignIn"><button class="btn btn-success post-button" routerLink="addpost">Post your story</button></li>
        <li class="menu" routerLink="signin" *ngIf="isSignIn">Log Out</li>
        <li  class="menu" routerLink="signup" *ngIf="!isSignIn">Sign Up</li>
        <li  class="menu" routerLink="signin" *ngIf="!isSignIn">Sign In</li>
        <li class="menu" *ngIf="isSignIn">{{email}}</li>
        <li class="menu"  routerLink="home">Home</li>
    </ul>
</div>