<div class="card">
    <div class="card-header center">
        Sign Up Please
    </div>
    <div class="card-body c">
     <form>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                      <input type="text" name="name" [(ngModel)]="name" class="form-control" id="inputName" placeholder="Enter Name">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                      <input type="email" name="email" [(ngModel)]="email" class="form-control" id="inputEmail" placeholder="Enter Email">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                      <input type="password" name="password" [(ngModel)]="password" class="form-control" id="inputPassword" placeholder="Enter Password">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputInstaname" class="col-sm-3 col-form-label">Instagram Name</label>
                    <div class="col-sm-9">
                      <input type="text" name="insta_name" [(ngModel)]="insta_name" class="form-control" id="inputInstaname" placeholder="Enter Insta Handle">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputCountry" class="col-sm-3 col-form-label">Country</label>
                    <div class="col-sm-9">
                      <input type="text" name="country" [(ngModel)]="country" class="form-control" id="inputCountry" placeholder="Your Country">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputBio" class="col-sm-3 col-form-label">BIO</label>
                    <div class="col-sm-9">
                      <textarea name="bio" [(ngModel)]="bio" class="form-control" id="" cols="63" rows="3" placeholder="Your BIO"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="center m">
                    <button (click)="signUp()" type="button" class="btn btn-primary">Sign Up</button></div>
                </div>
            </div>   
            <div class="col-md-4">
                <div>
                    <label for="upload-image-id">
                        <img class="upload-image" src="../../../assets/user-add-icon.svg" alt="upload image" width="150" height="150">
                    </label>
                    <div *ngIf="showFileName">
                        Filename:{{fileName}}
                    </div>
                </div>
                <input type="file" name="user_image" id="upload-image-id" style="display: none;" (change)="updateImage($event)">
            </div>   
        </div>
    </form>
    </div>
  </div>
