.card{
    color: black;
    width:60%;
    margin:0 auto;
    font-weight: bold;
    margin-top: 25px;
}
.center{
    text-align: center;
}
.upload-image{
    margin-top: 70px;
    margin-left:85px;
}
.m{
    margin-left: 410px;
}
.c{
    background-color:lightgrey;
}