.card{
    color: #000000;
    width: 65%;
    cursor: pointer;
    background-color: #EDEDED;
    display: block;
    margin-bottom: 1%;
}
.username{
    font-weight: bold;
    font-size: 125%;
}
.userbio{
    font-weight: 500;
    font-size: 100%;
}
.details{
    margin: 2% 10%;
}
.heading{
    font-size: 22px;
    color: #636363;
    font-weight: bold;
}
.col-md-2{
    background: url('../../../assets/person.svg') no-repeat;
    background-size: contain;
    padding: 0;
}
img{
    background: #EDEDED;
    width: 100%;
}